<nav id="nav">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <div class="nav-row">
        <div class="nav-left">
            <%= link_to "Home", root_path, class: "nav-link" %>
            <%= link_to "About", "/about", class: "nav-link" %>
            <% if logged_in? && current_user&.admin? %>
                <%= link_to "Admin", admin_root_path, class: "nav-link" %>
            <% end %>
        </div>

        <div class="nav-title">
            <%= yield :nav_title if content_for?(:nav_title) %>
        </div>

        <div class="nav-right">
            <% if logged_in? %>
                <% list = local_assigns[:list] || @list %>

                <% if list&.persisted? %>
                    <%= link_to "Remove marked",
                                clear_completed_list_items_path(list),
	                        data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Delete all marked items?",
                                    close_menu_on_confirm: true
                                },
                                class: "nav-link" %>

                    <%= link_to "Sharing", sharing_list_path(list), class: "nav-link" %>
                    <%= link_to "Delete list",
                                list_path(list),
                                data: { turbo_method: :delete, turbo_confirm: "Delete this list?" },
                                class: "nav-link" %>
                <% end %>

                <%= link_to "Log out",
                            session_path,
                            data: { turbo_method: :delete, turbo_confirm: "Log out?" },
                            class: "nav-link" %>
            <% else %>
                <%= link_to "Log in", new_session_path, class: "nav-link" %>
            <% end %>
        </div>

        <label for="nav-toggle" class="icon nav-link">
            <i class="fa-solid fa-bars"></i>
        </label>
    </div>

    <div class="nav-menu">
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "About", "/about", class: "nav-link" %>
        <% if logged_in? && current_user&.admin? %>
            <%= link_to "Admin", admin_root_path, class: "nav-link" %>
        <% end %>

        <% if logged_in? %>
            <% list = local_assigns[:list] || @list %>

            <% if list&.persisted? %>
                <%= link_to "Sharing", sharing_list_path(list), class: "nav-link" %>
                <%= link_to "Remove marked",
                            clear_completed_list_items_path(list),
	                    data: {
                                turbo_method: :delete,
                                turbo_confirm: "Delete all marked items?",
                                close_menu_on_confirm: true
                            },
                            class: "nav-link" %>
                <%= link_to "Delete list",
                            list_path(list),
                            data: { turbo_method: :delete, turbo_confirm: "Delete this list?" },
                            class: "nav-link" %>
            <% end %>

            <%= link_to "Log out",
                        session_path,
                        data: { turbo_method: :delete, turbo_confirm: "Log out?" },
                        class: "nav-link" %>
        <% else %>
            <%= link_to "Log in", new_session_path, class: "nav-link" %>
        <% end %>
    </div>
</nav>
