<% content_for :nav_title, "Admin user" %>

<h1>User: <%= @user.username %></h1>

<ul>
  <li>Admin: <%= @user.admin? ? "yes" : "no" %></li>
  <li>Disabled: <%= @user.disabled? ? "yes" : "no" %></li>
</ul>

<%= form_with model: @user, url: set_password_admin_user_path(@user), method: :post do |f| %>
  <div class="lineitem">
    <p><%= f.label :password, "New password" %></p>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="lineitem">
    <p><%= f.label :password_confirmation, "Confirm new password" %></p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="lineitem">
    <%= f.submit "Set password", data: { turbo_confirm: "Set a new password for this user?" } %>
  </div>
<% end %>

<div>
  <% if @user.disabled? %>
    <%= button_to "Enable", enable_admin_user_path(@user), method: :post %>
  <% else %>
    <%= button_to "Disable", disable_admin_user_path(@user), method: :post, data: { turbo_confirm: "Disable this user?" } %>
  <% end %>
</div>

<div>
  <% if @user.admin? %>
    <%= button_to "Remove admin", remove_admin_admin_user_path(@user), method: :post, data: { turbo_confirm: "Remove admin privileges?" } %>
  <% else %>
    <%= button_to "Make admin", make_admin_admin_user_path(@user), method: :post, data: { turbo_confirm: "Grant admin privileges?" } %>
  <% end %>
</div>

<p><%= link_to "Back", admin_users_path %></p>
